body {
	position: relative;
	width: 100%;
	min-width: 1000px;
	max-width: 1400px;
	background-image: url(tannery.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
	font-family: Geneva, sans-serif;
    font-size: 11pt;
    margin:0 auto; 
    margin-top:5%;

}

section {
	float: left;
	width: 495px;
    margin-left:25%;
}

img{
    position:absolute;
    width:35%;
    border-radius:25px;
    margin-top:2%;
    margin-left:0.1%;
}

section  {
    float:left;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
}

section p{
	margin-top: 10px;
	margin-bottom: 10px;
}



 

aside {
	float: left;
	width: 150px;
	text-align: center;
    margin-top:10px;
}

aside h1 {
	color: rgb(139, 69, 19);
	font-size: 12pt;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	margin: 10px;
}

aside ul {
	margin: 0px;
	padding: 0px;
}
aside ul li {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(139, 69, 19);
    border-radius: 15px;
	font-size: 12px;
	color: black;
	list-style: none;
	margin: 8px;
	padding: 3px;
}

aside ul li a {
    display: block;
	width: 100%;
	color: black;
	height: 30px;
	text-decoration: none;

}
aside ul li:hover {
	background-color: rgba(92, 51, 23, 0.5);
    font-weight:bold;
    text-decoration-color:white;
}


footer {
	background-color: rgb(92, 51, 23);
	border-top: 1px solid black;
    margin-left:53px;
	clear:left;
    width:92.5%;    
    position:absolute;
    bottom:-875px;
    display:block;
}

footer address {
    font-size: 10pt;
    font-style: normal;
	color: white;
	font-size: 14px;
	text-align: center;
    padding-top:10px;
    margin-top: 20px;
    height: 5px;
}
footer p{
margin-left:40%;
color:white;
}